.DragAndDrop {
  border: 1px dotted red;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.images {
  width: 250px;
  height: 250px;
}
.EnterDrag {
  border: 2px dotted blue;
  background-color: burlywood;
}
