.DragAndDrop {
  border: 1px dotted red;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.images {
  width: 250px;
  height: 250px;
}
.EnterDrag {
  border: 2px dotted blue;
  background-color: burlywood;
}
.mainImages {
  display: flex;
  flex-direction: row;
}
.mainImages > div {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.mainImages > div button {
  margin-top: 5px;
}
/* .imageDisplay {
  display: flex;

  margin-bottom: 5px;
}
.imageDisplay img {
  margin-right: 5px;
} */
